---
Language: Cpp
BasedOnStyle: Google
AlignConsecutiveDeclarations: true
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 100
---
